{% extends 'base.html.twig' %}

{% block title %}Log In!{% endblock %}

{% block body %}
    <div class="container" style="background: navajowhite;border: 0;">
        <div class="row" style="background: navajowhite">
            <div class="login-form bg-light mt-4 p-4" style="margin-left: 50px">
                <form method="post" class="row g-3" style="align-content:center">
                    <h1 class="h3 mb-3 font-weight-normal"style="text-align: center">Please sign in</h1>

                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <div class="col-12">
                        <label for="inputEmail"style="text-align: center">Email</label>
                        <input type="email" name="email" id="inputEmail" class="form-control" value="{{ last_username }}" required autofocus>
                    </div>
                    <div class="col-12">
                        <label for="inputPassword" style="text-align: center">Password</label>
                        <input type="password" name="password" id="inputPassword" class="form-control" required>
                    </div>
                    <div class="form-12">
                    <input type="checkbox" id="remember_me" name="_remember_me" checked />
                    <label for="remember_me">Recuérdame</label>
                    </div>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    <div class="form-12">

                        <button class="btn btn-lg btn-primary " type="submit">
                            Sign in
                        </button>
                        <a href="{{ path('app_register') }}" class="btn btn-lg btn-primary" style="margin-left: 100px;">Registrate</a>

                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
