{% extends 'base.html.twig' %}

{% block title %}Consulta{% endblock %}

{% block body %}
    <div class="container" style="background: navajowhite;border: 0;">
    <h1>Create new Consulta</h1>


    {% if is_granted('IS_AUTHENTICATED')%}
        <label for="email">Introduce tu emil para que te respondamos tu consulta.Te contestaremos con la mayor brevedad posible<br><br></label>
        <p></p>
        <input type="email" id="email" style="width: 1100px; border-radius: 5px;border-color:lightgrey "
              value="{{ consultum.email }}" required>
        {{ include('consulta/_form.html.twig') }}
     {% else %}
       ยก
         {{ include('consulta/_form.html.twig') }}
     {% endif %}

    <a href="{{ path('app_consulta_index') }}"class="btn btn-info w-25">back to list</a>
    </div>
{% endblock %}
